@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --accent-color: #31f711;
  /* --accent-color: #42e229ea; */
}
* {
  @apply selection:bg-accent;
}
.gradient {
  @apply bg-gradient-to-r from-blue-300 via-green-500 to-accent bg-clip-text text-transparent;
}
.heading {
  @apply pt-6 pb-4 text-4xl font-bold;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bdr {
  border: 2px solid red;
}
.bdr2 {
  border: 2px solid green;
}
.bdr3 {
  border: 2px solid blue;
}
.bdr4 {
  border: 2px solid yellow;
}

/* glow */

.bg_glow::after {
  /* jisper ye lage ga uski position relative karni hogyi */
  content: "";
  background: rgba(15, 189, 15, 0.351);
  width: 240px;
  height: 180px;
  position: absolute;
  z-index: 4;
  border-radius: 50%;
  /* left: 50%; */
  /* top: -50px; */
  filter: blur(65px);
  /* transform: translateZ(0); */
  /* isolation: isolate; */
}
/* glow */

/* nav */
.navBarDiv {
  display: flex;
  /* flex-direction:  */
  justify-content: flex-end;
}

.nav-bar {
  height: 100%;
  width: 70px;
  /* border: 3px solid red; */
  /* display: flex; */
  display: inline-block;
  /* justify-content:flex-start; */
  position: fixed;
  top: 100px;
  z-index: 1;
}

.nav-ul {
  list-style: none;
  width: 100%;
  margin: 2px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  /* text-orientation: sideways-right; */
}

.nav-ul > li {
  /* text-orientation: mixed; */
  padding: 3px;
  margin-bottom: 20px;
  /* border: 2px solid red; */
  cursor: crosshair;
}

.nav-ul > li:hover {
  font-weight: bolder;
}

.nav-ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  cursor: crosshair;
}
/* navbar */

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #66f07d #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  /* background-color: #ebebeb;
  -webkit-border-radius: 12px;
  border-radius: 12px; */
}
*::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 12px;
  /* border: 0px solid #ffffff; */
  border: none;
}
/* =====  Scrollbar CSS ===== */

/* =====  partical ===== */
#particles-js {
  position: fixed;
  top: 0;
  background-attachment: fixed;
  z-index: 5;
  /* border: 2px solid red; */
  /* width: 100%; */
  height: 100vh;
  background-color: transparent;
  /* background-position: 50% 50%; */
}
/* partical */
