.animation_img {
	width: 90%;
	/* border: 4px solid red; */
}

.myPhoto {
	width: 220px;
}

.skills_ul>li {
	width: 250px;
	height: 70px;
}

.contact_ul>li>a {
	width: 250px;
	height: 70px;
}
.icon {
	width: 34px;
}
.email{
	font-size: 14px;
}
