/* *{
	box-sizing: border-box;
} */

body {
	padding: 0px;
	margin: 0px;
	/* background-color: rgb(0, 0, 0); */
	/* background-image: linear-gradient(to left bottom, #000000, #050505, #090909, #0d0d0d, #111111);
	color: rgb(255, 255, 255); */
}

/* @media (prefers-color-scheme: light) {
	body {
		background: #ffffff; 
		background-image: linear-gradient(to left bottom, #ffffff, #efefef, #e0e0e0, #d0d0d0, #c1c1c1);
		color: rgb(0, 0, 0);
	}
} */

.parallax {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* background-image: url("https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
	position: relative;
	top: 0;
	left: 0;
	z-index: -1; */
	/* transform: rotate(-10deg); */
}

/* parallax::before {
	content: "";
	position: absolute;
	z-index: -1;
	bottom: 0;
	left: 15px;
	height: 10%;
	width: 70%;
	box-shadow: -35px 35px 5px 10px rgba(0, 0, 0, 0.75);
	transform: skewX(10deg);
} */
.welcomeShehzad {
	margin: 10px;
	/* display: flex;
	justify-content: center;
	align-items: center; */
	font-size: 120px;
	font-family: 'Comforter', cursive;
	position: relative;
	text-shadow: red 2px 2px 2px;
	/* box-shadow: blue -15px 155px 20px 2px; */
	/* background-color: transparent; */

}

.scroll {
	margin: 2px;
	font-weight: 200;
	font-size: 15px;
	font-family: monospace;
}
.navBarDiv{
	display: flex;
	/* flex-direction:  */
	justify-content: flex-end;
}

.nav-bar {
	height: 100vh;
	width: 70px;
	/* border: 3px solid red; */
	/* display: flex; */
	display: inline-block;
	/* justify-content:flex-start; */
}

.nav-ul {
	list-style: none;
	margin: 2px;
	padding: 2px;
	display: flex;
	flex-direction: row;
	align-items: center;
	writing-mode: vertical-rl;
	/* text-orientation: sideways-right; */
}

.nav-ul>li {
	/* text-orientation: mixed; */
	padding: 3px;
	margin-bottom: 20px;
	/* border: 2px solid red; */
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: auto;
	margin: auto;
	max-width: 1200px;
}

blockquote {
	direction: ltr;
}

.animation_div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.animation_img{
	width: 60%;
}





footer {
	height: 21px;
	background-color: green;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

footer>p {
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	/* color: white; */
}